/* import the necessary Bootstrap files */
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "variables";
@import '~material-design-icons/iconfont/material-icons.css';
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

body {
  margin: 0;
  font-family: $primary-font-family !important;
  background-color: $light !important;
}

a.archest-anchor {
  color: $info;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

label.form-label {
  font-size: 0.8em;
  font-family: $primary-font-family;
  color: $form-label;
  font-weight: bold;
  margin-left: 2px;
}

.btn-link {
  color: $info !important;
}

textarea {
  outline: none !important;
  box-shadow: none !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-radius: 0 !important;
  resize: vertical !important;
}

textarea:hover {
  border: 1px solid $info;
}

textarea:focus {
  border-bottom: 2px solid $info !important;
}

.navbar {
  padding: 0 125px !important;
}

ol.breadcrumb {
  padding: 0.3rem 0.5rem;
  font-size: 0.85rem;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: '>' !important;
}

ol.breadcrumb > .breadcrumb-item {
  display: block;
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.archest-inline-icon {
  vertical-align: middle;
  margin-top: -0.1rem;
  margin-right: 0.3rem;
}

.archest-card {
  border: none !important;
  box-shadow: 0 2px 4px 0 rgba(21, 27, 38, .15) !important;
  background-color: white !important;
}

.archest-table {
  font-size: 0.875em;
}

.archest-card-body {
  padding: 0.75rem !important;
}

.archest-card-container-row {
  margin-bottom: 20px;
}

.archest-multi-select-container > div:first-child {
  min-height: 31px;
}

.archest-multi-select-container > div {
  font-size: 0.875em;
}

.archest-multi-select-container > div:first-child > div:nth-child(2) > div {
  padding: 6px;
}

/* Rules for sizing the icon. */
.material-icons.md-12 {
  font-size: 12px;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

@import "~bootstrap/scss/bootstrap";