@import "../../res/archest-default-theme/variables.scss";

.archest-activity-container-row {
  margin-bottom: 20px;
}

.archest-activity-sub-activities-card-heading {
  padding: .35rem 1rem;
  border-bottom: none;
  font-size: 0.8rem;
  color: $sub-heading;
  font-weight: bold;
  margin-bottom: -0.2rem;
  //background-color: $sub-heading-bg;
}

.archest-activity-sub-activities-card {
  border: none;
}

.archest-activity-sub-activities-card-body {
  background-color: white;
}

.archest-sub-activity-item-activity-name-form-group > textarea {
  margin-left: -20px;
  width: 103%;
}

.archest-activity-card-body {
  padding: 0.75rem;
}

.archest-activity-sub-activities-card-body > .row, .archest-activity-form > .row {
  line-height: 0.5;
}

.archest-activity-sub-activities-card-body > .row {
  margin-bottom: -0.5rem;
}

.archest-sub-activity-item-activity-name-form-group {
  width: 101%;
}

.archest-sub-activity-item-activity-estimated-time-col {
  //margin-left: 5.5rem;
}

.archest-sub-activity-item-activity-status-form-group {
  width: 81%;
}

.archest-activity-settings-dropdown {
  margin-left: 1.8rem;
  margin-top: -1.9rem;
  height: 28px;
}

.archest-sub-activity-item-delete-btn {
  color: $danger;
  margin-top: 0.3rem;
  margin-left: 1rem;
}

.archest-sub-activity-item-delete-btn:hover {
  cursor: pointer;
}

.archest-activity-estimated-time-form-group {
  margin-left: -1.1rem;
  width: 100%;
}

.archest-activity-status-form-group {
  margin-left: -3.1rem;
  width: 117%;
}

.archest-activity-feature-name-form-group {
  width: 108%;
}

.archest-activity-delete-btn {
  margin-left: 30px;
}

.archest-activity-estimated-time-label {
  margin-left: -1rem !important;
}

.archest-activity-status-label {
  margin-left: -2.1rem !important;
}

.archest-activity-card {
  border: none;
  box-shadow: 0 2px 4px 0 rgba(21, 27, 38, .15);
  background-color: white;
}
