@import "../../res/archest-default-theme/variables.scss";

.archest-estimate-progress-card-body {
  font-size: 0.875em;
}

.archest-feature-progress-feature {
  padding-bottom: 15px;
}

.archest-feature-progress-feature-name {
  background-color: $primary;
  font-size: 1em;
  padding: 5px 5px 5px 15px;
  font-weight: bold;
  color: #ffffff;
}

.archest-feature-progress-sub-activity:hover, .archest-feature-progress-sub-activity-name:hover, .archest-feature-progress-activity:hover, .archest-feature-progress-activity-name:hover {
  background-color: $gray-300;
  cursor: default;
}

.archest-feature-progress-sub-activity-name {
  padding-left: 30px;
  font-weight: 300;
}

.archest-feature-progress-activity-name {
  font-weight: 600;
  color: $info;
  font-size: 0.95em;
}

.archest-feature-progress-activity-entered > p {
  text-decoration: underline;
  color: $info;
  cursor: pointer;
}

.archest-feature-progress-sub-activity-entered > p {
  text-decoration: underline;
  color: $info;
  cursor: pointer;
}

.archest-feature-progress-activity-entered-icon {
  font-size: 1.1em;
  margin-left: 5px;
}

.archest-feature-progress-heading {
  font-weight: bold;
  color: $primary;
}

.archest-feature-progress-activity-completion, .archest-feature-progress-sub-activity-completion {
  padding-top: 7px;
}

.archest-feature-progress-time-main-heading-row {
  margin-left: -28%;
}

.archest-feature-progress-time-sub-heading {
  padding: 0;
  font-size: 0.75em;
  margin-top: 5px;
}

.archest-feature-progress-activity-remaining-danger::after, .archest-feature-progress-sub-activity-remaining-danger::after {
  content: "";
  position: absolute;
  border: 3px solid $danger;
  left: 40px;
  border-radius: 100%;
}
