@import "../../res/archest-default-theme/variables.scss";

.archest-phase-estimates-icon {
  margin-top: 4px;
}

.archest-phase-estimates-icon:hover {
  cursor: pointer;
}

.archest-phase-estimates-icons-row{
  margin-left: 5px;
}